@use "../abstracts/vars" as vars;

footer {
  background-color: vars.$clr-main;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}

footer img {
  height: 50px;
  margin: 0 10px;

  @media (max-width: 390px) {
    height: 40px; // Reducir el tamaño de las imágenes en pantallas pequeñas
    margin: 0 5px;
  }
}

footer .logo {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 1rem; // Añadir espacio debajo del logo en pantallas pequeñas
  }
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center; // Alinear al centro en pantallas pequeñas

  @media (max-width: 768px) {
    margin-bottom: 1rem; // Añadir espacio debajo de las redes sociales
  }
}

footer .social-media img {
  margin: 0 1rem; /* Espaciado entre iconos */
  gap: 2rem;
  cursor: pointer;

  @media (max-width: 390px) {
    margin: 0 0.5rem; // Reducir espaciado entre iconos
  }
}

footer .branding {
  display: flex;
  align-items: center;
  text-align: right;

  @media (max-width: 768px) {
    text-align: center; // Centrar el texto en pantallas pequeñas
    margin-top: 1rem;
  }

  @media (max-width: 390px) {
    flex-direction: column; // Cambiar a columna en pantallas muy pequeñas
    text-align: center;
    margin-top: 1.5rem;
  }
}

footer .branding img {
  margin-right: 10px;

  @media (max-width: 390px) {
    margin-right: 0;
    margin-top: -2rem
  }
}