
@use "../abstracts/vars" as vars;

footer {
    background-color: vars.$clr-main;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer img {
    height: 50px;
    margin: 0 10px;
  }
  
  footer .logo {
    display: flex;
    align-items: center;
  }
  
  footer .social-media {
    display: flex;
    align-items: center;
  }
  
  footer .social-media img {
    margin: 0 1rem; /* Espaciado entre iconos */
    gap: 2rem;
    cursor: pointer;
  }
  
  footer .branding {
    display: flex;
    align-items: center;
    text-align: right;
  }
  
  footer .branding img {
    margin-right: 10px;
  }
  
  