@use "../abstracts/vars" as vars;

footer {
  background-color: vars.$clr-main;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1080px) {
    flex-direction: column; // Cambiar a columna
    align-items: center; // Centrar contenido
    padding: 2rem; // Ajustar padding
  }
}

footer img {
  height: 50px;
  margin: 0 10px;

  @media (orientation: 1080) {
    height: 60px; // Ajustar tamaño en horizontal si es necesario
  }
}

footer .logo {
  display: flex;
  align-items: center;

  @media (max-width: 1080) {
    margin-bottom: 1rem; // Espacio debajo del logo
  }
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-media img {
  margin: 0 1rem; // Espaciado entre iconos
  gap: 2rem;
  cursor: pointer;

  @media (orientation: 1080) {
    margin: 0 1.5rem; // Espaciado adecuado en horizontal
  }
}

footer .branding {
  display: flex;
  align-items: center;
  text-align: right;

  @media (max-width: 1080) {
    text-align: center; // Centrar texto
    margin-top: 1rem; // Espacio encima
  }

}

footer .branding img {
  margin-right: 10px;

  @media (orientation: 1080) {
    margin-right: 15px; // Ajustar margen en horizontal
  }
}