@use "../abstracts/vars" as vars;

.card a {
    background-color: vars.$clr-main;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  
    @media (max-width: 390px) {
      padding: 6px 12px; 
      font-size: 0.8rem;
    }
  }
  
  .card a:hover {
    background-color: vars.$clr-gray;
  }